alias df="df -h"
alias du="du -hs *"
alias mac='ifconfig | grep HWaddr'
alias l="ls"
alias la="ls -a"
alias ll="ls -ahl"
alias cp="cp -r"
alias r="reset"
alias ctags='ctags -R src'
alias back='cd -'
alias ..='cd ..'
alias grep='grep -R -n --color=auto'

set autolist = ambiguous
set complete = enhance

export PS1='[\[\e[01;32m\]\u\[\e[01;33m\]@\h\[\e[01;35m\]:$PWD]$\[\e[00m\] '

#alias setprompt 'set prompt="['whoami'@'hostname' $cmd]$ "'
#setprompt
#alias cd 'chdir \!* && setprompt'
